.header {
  margin: 2rem auto;
  text-align: center;
  font-size: 2.5rem;
}

.app {
  width: 60%;
  margin: auto auto;
  padding-bottom: 30px;
}

.question {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.action-btns {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

.feedback {
  text-align: center;
  padding: 15px;
  font-size: 1.5rem;
}
